<mat-card class="maintenance-card">
  <mat-card-title>New Maintenance Job</mat-card-title>
  <mat-card-content>
    <form
      [formGroup]="maintenanceForm"
      (ngSubmit)="onSubmit()"
      class="maintenance-form"
    >
      <mat-form-field class="full-width">
        <mat-label>Customer Name</mat-label>
        <input
          matInput
          placeholder="Enter customer name"
          formControlName="customerName"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Car Brand</mat-label>
        <mat-select formControlName="formCarBrand">
          <mat-option *ngFor="let brand of brands" [value]="brand">{{
            brand
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        class="full-width"
        *ngIf="maintenanceForm.get('formCarBrand')?.value"
      >
        <mat-label>Car Model</mat-label>
        <mat-select formControlName="formCarModel">
          <mat-option *ngFor="let model of models" [value]="model">{{
            model
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        class="full-width"
        *ngIf="maintenanceForm.get('formCarModel')?.value"
      >
        <mat-label>Car Part</mat-label>
        <mat-select formControlName="formCarPart">
          <mat-option *ngFor="let part of getParts()" [value]="part">{{
            part.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        class="full-width"
        *ngIf="maintenanceForm.get('formCarPart')?.value"
      >
        <mat-label>Maintenance Type</mat-label>
        <mat-select formControlName="formMaintenanceType">
          <mat-option *ngFor="let job of getMaintenanceTypes()" [value]="job">{{
            job.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        class="full-width"
        *ngIf="maintenanceForm.get('formMaintenanceType')?.value"
      >
        <mat-label>Preferred Date</mat-label>
        <input matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="primary">Submit Request</button>
    </form>
  </mat-card-content>
</mat-card>
<mat-card
  class="maintenance-card"
  *ngIf="maintenanceForm.get('customerName')?.value"
>
  <mat-card-title>New Maintenance Details</mat-card-title>
  <mat-card-content>
    <p *ngIf="maintenanceForm.get('customerName')?.value">Customer name</p>
    <strong>{{ maintenanceForm.get("customerName")?.value }}</strong>
    <p *ngIf="maintenanceForm.get('formCarBrand')?.value">Car brand</p>
    <strong>{{ maintenanceForm.get("formCarBrand")?.value }}</strong>
    <p *ngIf="maintenanceForm.get('formCarModel')?.value">Car model</p>
    <strong>{{ maintenanceForm.get("formCarModel")?.value }}</strong>
    <p *ngIf="maintenanceForm.get('formCarPart')?.value">Car part</p>
    <strong>{{ maintenanceForm.get("formCarPart")?.value }}</strong>
    <p *ngIf="maintenanceForm.get('formMaintenanceType')?.value">Car Cost</p>
    <strong *ngIf="maintenanceForm.get('formMaintenanceType')?.value">{{
      Costs | currency
    }}</strong>
  </mat-card-content>
</mat-card>
