<mat-card class="maintenance-card">
  <mat-card-title>New Maintenance Job</mat-card-title>
  <mat-card-content>
    <form
      [formGroup]="maintenanceForm"
      (ngSubmit)="onSubmit()"
      class="maintenance-form"
    >
      <mat-form-field class="full-width">
        <mat-label>Customer Name</mat-label>
        <input
          matInput
          placeholder="Enter customer name"
          formControlName="customerName"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Car Brand</mat-label>
        <mat-select formControlName="formCarBrand">
          <mat-option *ngFor="let brand of brands" [value]="brand">{{
            brand
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        class="full-width"
        *ngIf="maintenanceForm.get('formCarBrand')?.value"
      >
        <mat-label>Car Model</mat-label>
        <mat-select formControlName="formCarModel">
          <mat-option *ngFor="let model of models" [value]="model">{{
            model
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        class="full-width"
        *ngIf="maintenanceForm.get('formCarModel')?.value"
      >
        <mat-label>Car Part</mat-label>
        <mat-select formControlName="formCarPart">
          <mat-option *ngFor="let part of getParts()" [value]="part">{{
            part
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        class="full-width"
        *ngIf="maintenanceForm.get('formCarPart')?.value"
      >
        <mat-label>Maintenance Type</mat-label>
        <mat-select formControlName="formMaintenanceType">
          <mat-option *ngFor="let job of getMaintenanceTypes()" [value]="job">{{
            job.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        class="full-width"
        *ngIf="maintenanceForm.get('formCarPart')?.value && isCustom"
      >
        <mat-label>Service hours</mat-label>
        <input matInput formControlName="formServicHours" />
        <mat-error
          *ngIf="maintenanceForm.get('formServicHours')?.hasError('min')"
        >
          The value is lower than the minimum
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="full-width"
        *ngIf="maintenanceForm.get('formMaintenanceType')?.value"
      >
        <mat-label>Preferred Date</mat-label>
        <input matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="primary">Submit Request</button>
    </form>
  </mat-card-content>
</mat-card>
<mat-card
  class="maintenance-card"
  *ngIf="maintenanceForm.get('customerName')?.value"
>
  <mat-card-title>Details</mat-card-title>
  <mat-card-content>
    <p *ngIf="maintenanceForm.get('customerName')?.value">Customer name</p>
    <strong class="pl-8">{{
      maintenanceForm.get("customerName")?.value
    }}</strong>
    <p *ngIf="maintenanceForm.get('formCarBrand')?.value">Car brand</p>
    <strong class="pl-8">{{
      maintenanceForm.get("formCarBrand")?.value
    }}</strong>
    <p *ngIf="maintenanceForm.get('formCarModel')?.value">Car model</p>
    <strong class="pl-8">{{
      maintenanceForm.get("formCarModel")?.value
    }}</strong>
    <p *ngIf="maintenanceForm.get('formCarPart')?.value">Car part</p>
    <strong class="pl-8">{{
      maintenanceForm.get("formCarPart")?.value
    }}</strong>
    <p *ngIf="totalCost">Car Cost</p>
    <div *ngIf="totalCost">
      <strong class="pl-8">
        price per hour
        {{
          this.maintenanceForm.get("formMaintenanceType")?.value?.price
        }} </strong
      ><br />
      <strong class="pl-8">
        serviceHours:
        {{
          this.maintenanceForm.get("formMaintenanceType")?.value?.serviceHours
        }} </strong
      ><br />
      <strong class="pl-8">
        fixedRate:{{
          this.maintenanceForm.get("formMaintenanceType")?.value?.fixedRate
        }} </strong
      ><br />
      <strong class="pl-8">
        total:

        {{ this.maintenanceForm.get("formMaintenanceType")?.value?.price }} x
        {{
          this.maintenanceForm.get("formMaintenanceType")?.value?.serviceHours
        }}
        +
        {{ this.maintenanceForm.get("formMaintenanceType")?.value?.fixedRate }}
        = {{ totalCost | currency }}</strong
      >
    </div>
  </mat-card-content>
</mat-card>
